:root {
    --base-font-size: 100%;
    /* Color palette */
    --grayDarker: #141414;
    --grayDark: #222;
    --grayMedium: #323232;
    --grayLight: #3f3f3f;
    --grayLighter: #eee;
    --textOnWhite: #252525;
    --textContrast: #2d2d2d;
    --textOnGray: #fff;
    --textSubtle: #5b5b5b;
    --textSubtleLight: #adadad;
    --blue: #00b5ff;
    --blueLight: #39c6ff;
    --blueDark: #007fb2;
    --green: #00a338;
    --warning: #ff460d;
    --orange: #ff8700;
    /* Sizes & margins */
    --unit: 40px;
    --defaultMargin: 16px;
    --relatedMargin: 8px;
    --tightMargin: 4px;
    --wideMargin: 32px;
    /* Components */
    --inspectorWidth: 320px;
    --navigatePanelWidth: 320px;
    --menuWidth: 320px;
    --editPreviewPanelHeight: 110px;
    --menuButtonWidth: 54px;
    --generalFontSize: 14px;
    --zindexTooltip: 999999;
    --errorText: #ff460d;
    --successText: #00a338;
    --warningText: #ff8700;
    --infoText: #00b5ff;
    --spacing-GoldenUnit: 40px;
    --spacing-Full: 16px;
    --spacing-Half: 8px;
    --spacing-Quarter: 4px;
    --size-SidebarWidth: 320px;
    --transition-Fast: .1s;
    --transition-Default: .25s;
    --transition-Slow: .5s;
    --zIndex-SecondaryToolbar-LinkIconButtonFlyout: 1;
    --zIndex-FlashMessageContainer: 6;
    --zIndex-LoadingIndicatorContainer: 5;
    --zIndex-SecondaryInspector-Context: 1;
    --zIndex-SecondaryInspector-Iframe: 2;
    --zIndex-SecondaryInspector-Close: 3;
    --zIndex-SecondaryInspectorElevated-Context: 1;
    --zIndex-SecondaryInspectorElevated-DropdownContents: 2;
    --zIndex-Dialog-Context: 1;
    --zIndex-FullScreenClose-Context: 1;
    --zIndex-Drawer-Context: 1;
    --zIndex-Bar-Context: 1;
    --zIndex-PrimaryToolbar: 4;
    --zIndex-CheckboxInput-Context: 1;
    --zIndex-DropdownContents-Context: 1;
    --zIndex-SelectBoxContents: 3;
    --zIndex-NotInlineEditableOverlay-Context: 1;
    --zIndex-CalendarFakeInputMirror-Context: 1;
    --zIndex-RdtPicker-Context: 1;
    --zIndex-SideBar-DropTargetBefore: 1;
    --zIndex-SideBar-DropTargetAfter: 2;
    --zIndex-WrapperDropdown-Context: 1;
    --zIndex-UnappliedChangesOverlay-Context: 1;
    --zIndex-NodeToolBar: 2147483646;
    --fontSize-Base: 14px;
    --fontSize-Small: 12px;
    --fontsHeadings-Family: Noto Sans;
    --fontsHeadings-Style: Regular;
    --fontsHeadings-CssWeight: 400;
    --fontsCopy-Family: Noto Sans;
    --fontsCopy-Style: Regular;
    --fontsCopy-CssWeight: 400;
    --colors-PrimaryViolet: #26224C;
    --colors-PrimaryVioletHover: #342f5f;
    --colors-PrimaryBlue: #00ADEE;
    --colors-PrimaryBlueHover: #35c3f8;
    --colors-ContrastDarkest: #141414;
    --colors-ContrastDarker: #222;
    --colors-ContrastDark: #3f3f3f;
    --colors-ContrastNeutral: #323232;
    --colors-ContrastBright: #999;
    --colors-ContrastBrighter: #adadad;
    --colors-ContrastBrightest: #fff;
    --colors-Success: #00a338;
    --colors-SuccessHover: #0bb344;
    --colors-Warn: #ff8700;
    --colors-WarnHover: #fda23d;
    --colors-Error: #ff460d;
    --colors-ErrorHover: #ff6a3c;
    --colors-UncheckedCheckboxTick: #5B5B5B;
}